<div class="container">
	<div class="row"> 
		<div class="col-md-12"> 
			<h1 class="page-header">Uploaded Videos</h1> 
		</div> 
	</div> 
	
	<!-- div to contain the list of videos and a video player window -->
	<div class="row" ng-controller="VideoListCtrl">
		<!-- list of video -->
    	<div class="col-md-6">
			<div ng-repeat="video in videoList">
				<button ng-click="playVideo(video.file_name)"></button>
				{{video.file_name}}
			</div>
		</div>
		<!-- video player window -->
		<div class="col-md-6" ng-include="playerWindowURL"></div>
	</div>
 </div>